.navbar {
  background-color: rgb(32, 122, 73);
  font-size: 12px;
  font-family: Arial;
  margin-left: 5px;
  padding: 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-top: 2px;
}

.targetprotein {
  background-color: rgb(230, 230, 103);
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 10px;
  border: 2px solid red;
}

.proteinname {
  padding: 8px;
}
.proteinid {
  padding: 8px;
}
.proteinfunction {
  padding: 8px;
}

.proteininteraction {
  padding: 8px;
}

.proteinstructure {
  padding: 8px;
}
